/* Updated today */
body{

font-family:Arial;
margin:0;

}

h2{

margin:10px;

}

.topbar{

padding:10px;
background:#eee;

}

.main{

display:flex;
height:600px;

}

#streetview{

width:50%;
height:100%;
border-right:3px solid black;

}

#map{

width:50%;
height:100%;

}

.tools{

padding:10px;
background:#f4f4f4;
border-top:3px solid black;

}

button{

margin:5px;
padding:6px 12px;
cursor:pointer;

}

input{

margin:5px;
padding:5px;
width:150px;

}
