body {
font-family: Arial;
margin: 0;
}

#map {
height: 90vh;
width: 75%;
float: left;
}

#panel {
width: 25%;
height: 90vh;
float: right;
overflow-y: scroll;
padding: 10px;
background: #f4f4f4;
}
