body
{
font-family: Arial;
margin:0;
}

.toolbar
{
padding:10px;
background:#eee;
}

.container
{
display:flex;
height:500px;
}

#streetview
{
width:50%;
height:500px;
}

#map
{
width:50%;
height:500px;
}

.form
{
padding:10px;
background:#f4f4f4;
}

input
{
display:block;
margin-bottom:5px;
width:300px;
}

button
{
margin:5px;
padding:5px;
}
