.container {
    display: flex;
    flex-direction: row;
    height: 500px;
    gap: 10px;
    margin-bottom: 10px;
}

#streetview {
    flex: 1;
    height: 500px;
}

#map {
    flex: 1;
    height: 500px;
}
