body
{
font-family: Arial;
margin: 10px;
}

.toolbar
{
margin-bottom:10px;
}

.container
{
display:flex;
height:500px;
}

#streetview
{
width:50%;
height:100%;
}

#map
{
width:50%;
height:100%;
}

table
{
border-collapse: collapse;
}

td,th
{
border:1px solid black;
padding:5px;
}
